body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}

li {
    list-style: none;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .mainBar, .mainBar_nav {
    width: auto;
    height: 50px;
}

.header {
    background-color: #fff;-webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    z-index: 800;
}

.mainBar {
    margin: 0 auto;
    max-width: 1060px;
}

.mainBar_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainBar_nav_top, .mainBar_nav_menuBar, .mainBar_nav_aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mainBar_nav_top_button {
    margin-top: -2;
    margin-right: 15px;
}

#mainBar_nav_top_buttonImg {
    width: 17px;
    height: 14px;
    object-fit: contain;
}

#mainBar_nav_top_logo {
    width: 72px;
    height: 17px;
}

.mainBar_nav_menuBar li {
    margin-left: 20px;
}

.mainBar_nav_menuBar, .mainBar_nav_aside {
    height: inherit;
    text-align: center;
    margin: 0;
}

.mainBar_nav_aside .li{
    margin: auto;
}

.mainBar_nav_search_button {
    margin-right: 15px;
    vertical-align: middle;
}

.searchIcon {
    width: 12px;
    height: 12px;
}

.login {
    margin-right: 15px;
}

.poratService_button::before {
    content: '\007C';
    color: #e1e2e3;
}

#mainBar_nav_corporatService_button {
    height: 59.453px;
}

#mainBar_nav_corporatService_button {
    color: #666;
    line-height: 30px;
    height: 50px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 15px;
    font-weight: 400;
}

.center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
    border: 3px solid red;
}

.center div {
    text-align: center;
    background-color: greenyellow;
}

.footer {
    text-align: center;
    border: 3px solid black;
    background-color: slategrey;
    flex-basis: 100px ;
}