body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}

li {
    list-style: none;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

.Page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Header, .MainBar, .MainBar_nav {
    width: auto;
    height: 50px;
}

.Header {
    background-color: #fff;-webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    z-index: 800;
    /* border: 3px solid blue; */
}

.MainBar, .TopBanner_list, .careerContents, .CareerContents_Wrapper {
    margin: 0 auto;
    max-width: 1060px;
}

.MainBar_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.MainBar_nav_top, .MainBar_nav_menuBar, .MainBar_nav_aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#MainBar_nav_top_button {
    margin-top: -2;
    margin-right: 15px;
}

#MainBar_nav_top_buttonImg {
    width: 17px;
    height: 14px;
    object-fit: contain;
}

#MainBar_nav_top_logo {
    width: 72px;
    height: 17px;
}

.MainBar_nav_menuBar li {
    margin-left: 20px;
}

.MainBar_nav_menuBar, .MainBar_nav_aside {
    height: inherit;
    text-align: center;
    margin: 0;
}

.MainBar_nav_aside .li{
    margin: auto;
}

.MainBar_nav_searchIcon_button {
    margin-right: 15px;
    vertical-align: middle;
}

.SearchIcon {
    width: 12px;
    height: 12px;
    margin-right: 20px;
    align-items: center;
}

.Login {
    margin-right: 20px;
}

.PoratService_button::before {
    content: '\007C';
    color: #e1e2e3;
}

#MainBar_nav_corporatService_button {
    height: 59.453px;
}

#MainBar_nav_corporatService_button {
    color: #666;
    line-height: 30px;
    height: 50px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 20px;
    font-weight: 400;
}

/* .main, .TopBanner{
    margin: 0 auto;
    max-width: 1060px;
} */
.Main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
    /* border: 3px solid red; */
}

.Main div {
    text-align: center;
}

.TopBanner_slider{
    display: flex;
    flex-direction: row;
}

.TopBanner_arrow {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    top: 180px;
    width: 30px;
    height: 60px;
    opacity: .5;
    border-radius: 15px;
    background-color: rgb(230, 225, 225);
    font-size: 16px;
    z-index: 10;
}

.Left_arrow {
    left: calc((100% - 1210px)/2);
}

.Right_arrow {
    right: calc((100% - 1200px)/2);
}

.TopBanner_arrowIcon {
    width: 16px;
    height: 16px;
}

.CareerContents {
    padding: 60px 0;
}

.CareerContents_Title_Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CareerContents_Title {
    display: flex;
    flex-direction: row;
}

.CareerContents_Title_Str {
    margin: 0;
}

.QuestionButton {
    margin-right: 15px;
    vertical-align: middle;
}

.QuestionButton_Icon {
    width: 22px;
    height: 22px;
    margin-left: 4px;
}

.CareerContents_CategoryListSlide {
    max-width: 1060px;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.CareerContents_CategoryList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.CareerContents_CategoryName {
    color: #888;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 50px;
    padding: 5px 22px;
    font-weight: 600;
}

/* .CareerContents_CategoryName {
    display: flex;
    padding: 9px 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 146.7%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #888;
    border-color: #e1e2e3;
    outline: none;
    scroll-snap-align: start;
    height: 40px;
    position: relative;
} */

.CareerCategory_arrow_left {
    left: 0;
}

.CareerContents_Category_arrow_left_button, .CareerContents_Category_arrow_right_button {
    color: #888;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    height: 40px;
    border: 1px solid #e1e2e3;
    border-radius: 50px;
    padding: 10px 10px;
    font-weight: 600;
}

.CareerContents_Category_arrowIcon {
    width: 20px;
    height: 20px;
}

.CareerContents_Category_arrow_left {
    left: 0;
    justify-content: start;
}

.CareerContents_List {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.CareerContentCard_CareerContentCard {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 332px;
    margin: 0 10px 50px;
}

.CareerContentCard_CareerContentCard_Thumbnail {
    position: relative;
    height: auto;
    padding-bottom: 70%;
    padding-left: 0;
}

.CareerContentCard_CareerContentCard_Thumbnail_Img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;
    object-fit: cover;
    object-position: top;
    border: 1px solid rgba(0,0,0,.05);
    outline-offset: -1px;
}

.footer {
    text-align: center;
    border: 3px solid black;
    background-color: slategrey;
    flex-basis: 100px ;
}